 <!--NOTE: If you're working offline, you might have to change the DOCTYPE to the following:-->
<!--<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <mapping class="com.dataprizma.model.User"/>
        <mapping class="com.dataprizma.model.Role"/>
        <mapping class="com.dataprizma.model.Product"/>
        <mapping class="com.dataprizma.model.ProductLine"/>
        <mapping class="com.dataprizma.model.PersonCard"/>
        <mapping class="com.dataprizma.model.Region"/>
    </session-factory>
</hibernate-configuration>